#!/usr/bin/env bash
set -ueo pipefail

FORMATTER_JAR=@@FORMATTER_JAR@@
FLAGS="@@FLAGS@@"
SRCS="@@SRCS@@"

runtime=$(readlink "$FORMATTER_JAR")
(
  cd "$BUILD_WORKSPACE_DIRECTORY" && \
  if [ -z "$SRCS" ]; then SRCS="$(find . -type f \( -name *.java \) -print)"; fi && \
  echo && \
  echo "Running google-java-format in $BUILD_WORKSPACE_DIRECTORY..." && \
  echo && \
  (echo $SRCS | xargs -n 100 -P 7 -t java -jar "$runtime" $FLAGS) && \
  echo \
)
